
/* navbar styling*/
.navbar{
    padding-top:0px;
    padding-bottom: 0px;
}
.navbar-collapse {
    position: relative;
    float: right !important;
    margin-left: 60%;
}


a.navbar-brand{
    padding: 10px;
    background-color: rgb(81, 175, 160);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

/* navbar main text styling to overwrite bootstrap css*/
.navbar-light .navbar-brand {
    color: white;
    font-weight: bold;
}

/* header styling*/
h2{
    color: rgb(81, 175, 160);
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    font-weight: bold;
}

/* subheader styling*/
h3{
    color: rgb(81, 175, 160);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
}

/* text format*/
p{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   color: rgb(117, 114, 114);
   padding: 10px;
}

/* body format*/
body{
    background-color: rgb(228, 225, 225);
}
.col-md-12{
    background-color: white;
    padding-top: 20px;
    padding-bottom:20px;
}

.nav-item.dropdown.show {
    background-color:white;
}

/* bootstrap container styling*/
.container {
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: white;
}

.outerbox { 
    background-color: white;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}